#map_section {
  height: 700px;
  background: linear-gradient(0deg, rgb(11 3 5), rgb(11 3 5 / 76%)),
    url(./../assets/topo.png);
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}
#map_section .container {
  height: 100%;
}

#map_section .row {
  justify-content: center;
  align-items: center;
  color: #d3cdcd;
  height: 100%;
}

#map_section .row .custome-width {
  max-width: 75%;
  margin: 0 auto;
}
#map_section .row button {
  width: 250px;
  padding: 15px;
}
